@use '../../utils' as *;

/*----------------------------------------*/
/*  Full Width Video Section
/*----------------------------------------*/

.video-fullwidth-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.video-fullwidth-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-fullwidth-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform-origin: center center;
  
  @media #{$md,$xs} {
    object-fit: cover;
  }
}
